#selected {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border:5px solid #FFFF00;
  position:absolute;
  border-radius: 15px;
  z-index: 999;
  pointer-events:none; /* Make click-able through the DIV (for example, if it's on top of something with an event with kb) */
}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}